body {
  background-color: rgba(52, 134, 130, 0.582);
  padding-right: 80px;
}

.Search {
  text-align: center;
}

header {
  font-size: 1.5em;
  text-align: left;
  font-style: italic;
}

.Articles {
  text-align: left;
  
}

h2 {
  display: inline-flexbox;
  text-align: left;
  padding-left: 40px;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.Start {
  font-weight: bold;
}

.End {
  font-weight: bold;
}

.Submit {
  font-weight: bold;
}

